In [1]:
#Q1. Create a python program to sort the given list of tuples based on integer value 
#    using a lambda function. [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), 
#    ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
#Ans.
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534),
     ('Virat Kohli', 24936)]

In [2]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [5]:
#Ascending order
sorted(l, key= lambda x : x[1] , reverse = False)

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [6]:
#Descending order
sorted(l, key = lambda x : x[1], reverse = True)

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [7]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list 
#    of integers using lambda and map functions. [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#Ans.
s = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : x**2, s ))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#Q3. Write a python program to convert the given list of integers into a tuple of 
#    strings. Use map and lambda functions
#    Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#    Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
#Ans.
#Given String
s1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Using map and lambda function
tuple(map(lambda x : str(x), s1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
#Q4. Write a python program using reduce function to compute the product of a list 
#    containing numbers from 1 to 25.

In [18]:
#Ans.
l1 = []
for i in range(1,26):
    l1.append(i)

In [22]:
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [23]:
from functools import reduce

In [24]:
reduce(lambda x,y : x*y , l1)

15511210043330985984000000

In [25]:
#Q5. Write a python program to filter the numbers in a given list that are divisible 
#    by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [10]:
#Ans.
l3 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

#Divisible by 2
a = list(filter(lambda x : x % 2 == 0, l3))
print(a)

#Divisible by 3
b = list(filter(lambda x : x % 3 == 0, l3))
print(b)

[2, 6, 60, 90, 120, 46]
[3, 6, 9, 27, 60, 90, 120]

In [3]:
#Q6. Write a python program to find palindromes in the given list of strings using 
#    lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

In [28]:
#Ans.
l4 = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x : x == x[::-1], l4))

['php', 'aba', 'radar', 'level']

In [ ]:
                         ' J A Y   S H R E E   R A M '