In [1]:
#Q1. Create one variable containing following type of data:

In [1]:
#string variable
a = 'ujjwal'
#list varibale
b = [1,2,3,]
#float varibale
c = 32.4225
#tuple variable
d = (10,20,30)

In [3]:
a

'ujjwal'

In [4]:
b

[1, 2, 3]

In [5]:
c

32.4225

In [6]:
d

(10, 20, 30)

In [1]:
#Q2. Given are some following variables containing data:

#What will be the data type of the above given variable.

In [2]:
var1 = ''

In [5]:
type(var1)

str

In [10]:
var2 = '[DS, ML, Python]'

In [11]:
type(var2)

str

In [12]:
var3 = ['DS', 'ML', 'Python']

In [13]:
type(var3)

list

In [14]:
var4 = 1.

In [15]:
type(var4)

float

In [16]:
#Q3. Explain the use of the following operators using an example:

In [ ]:
(i)	/ 
This operator is arithmatic operator used for divide the numbers. this is called division operators this operator
is widely used everywhere.
ex. 4/2 which gives 2 ans. 

(ii)% 
This operator is known as percentile operator or modulus operator.
this operator gives remainder when 2 numbers are divide
ex. 5%4 which gives 1 remainder

(iii)// 
This operator is named as division flor operator. it is represented by double slash. this is also divde the numbers
but some is different from division operator.
ex. 6//2 which gives 3 

(iv)** 
This operator is named as exponent operator because this operator is multiply the number according to their power
for example:
    2**3 = 8
    5**2 = 25
    
Above all operator are come in category of arithmatic operators

In [20]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type

In [21]:
l = [3,6,9, 'Hari Narayan', 'Mere Ram', 'Mere krishna', 34.242, True, False, 'Hanuman baba']

In [23]:
for i in l:
    print(i)

3
6
9
Hari Narayan
Mere Ram
Mere krishna
34.242
True
False
Hanuman baba

In [24]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>

In [5]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [11]:
A = int(input('Enter the no. A: '))
B = int(input('Enter the no. B: '))

Count = 0

while A % B == 0:
    A = A / B
    Count += 1

if Count > 0:
    print(f'The no. A is divisible by B {Count} times.')
else:
    print('the no. A is not divisible by B')

Enter the no. A:  25
Enter the no. B:  5

The no. A is divisible by B 2 times.

In [12]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [19]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for num in l:
    if num%3 == 0:
        print(f'{num} is divisible by 3')
    else:
        print(f'{num} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [20]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [ ]:
Mutable Object = Mutuable object defines as we can change the data which exist in list,tuple,dictionary, we can
change the data by using their indices no. or from this process we known this is mutuability. list,dictionary,tuple
is mutuable object or data type. 
ex. l = [1,2,3,'ujjwal']
l[0] = 6
which gives after print
l = [6,2,3,'ujjwal']


Immutable Object = This is opposite of mutuable. We cannot change or mutuate data in varibale.
ex. s = 'Ram'
s[1] = o
after print we get error because its not possible to mutate data in string
string is not mutuable data type object